<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Re-taška{% endblock %}</title>
        {% block stylesheets %}
               
        <!-- CSS: -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="{{ asset('/css/mystyle.css') }}">
        
        {% endblock %}

    </head>
    <body>
    
    {{ include('header.html.twig') }}
    
    
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
        
    {{ include('footer.html.twig') }}
    
    </body>
</html>
