<!-- Footer -->
<footer class="page-footer font-small blue" margin-bottom="200px">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright
    
    <img src="{{ asset('Images/logo.png') }}" width="10%" height="10%" />
  </div>
    
    
</footer>
<!-- Footer -->