 <nav class="navbar navbar-expand-lg navbar-light bg-white">
        
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            
            <!-- Logo -->
            
            <img src="{{ asset('Images/logo.png') }}" width="10%" height="10%" />
            
            
            <!-- Odkazy -->

              <li class="nav-item active">
                <a class="nav-link" href="#">Domů</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{ asset('http://node25.codenvy.io:46646/php_retaska/public/product/view') }}">Produkty</a>
              </li>
            </ul>
            
            <!-- Text -->
            
            <span class="navbar-text">
              777 888 999
            </span>
          
          <!-- Hledat -->
          
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hledat</button>
    </form>
    
</nav>
    